# Logs
logs

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# TypeScript
*.tsbuildinfo
dist

# dotenv environment variables file
.env

#database config
ormconfig.json
